
/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap);
/* 기본설정 : 모든 요소의 여백과 크기 계산 방식을 초기화  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
/* 패딩과 보더가 너비/ 높이에 포함되도록 설정 */
 body {
   font-family: 'Noto sans KR' ,sans-serif; 
   line-height:1.6;
   color:#333;
 }

 /* 링크 기본 스타일 제거 */
 a {
   text-decoration: none;
   color: inherit;
 }
 /* 리스트 스타일 제거 */
 ul {
    list-style: none;
 }
 /* 구글 폰트 가져오기 */

 .main header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
 }
 
 .main-header .logo h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 2px;
 }

 .main-nav ul {
    display: flex;
 }
 .main-nav ul li {
    margin-left: 2rem;
 }
 .main-nav ul li a {
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
    padding-bottom:0.3 ;
    transition: color 0.3 ease;
 }

 .main-nav li a:hover {
    color: #ffd700;
    border-bottom: 2px solid #ffd700;
 }
html {
    font-size: 16px;
}
.hero-section {
    height: 100vh;
    background:url('https://picsum.photos/3840/2160') no-repaet center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba( 0,0,0,0.7);
}
.hero-content {
     font-size: 3.5rem;
     margin-bottom: 2rem;
     font-weight: 700;
}
.hero-butten .btn {
    background-color: #ffd700;
    color: #333;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 0 1rem;
    transition: background-color 0.3s ease;
    font-weight: 700;
}
 .hero-butten .btn:hover {
    background-color: #e6c200;
    transform: translate(-5px);

 }
    

